.red{
  color: darkred;
}

.bold{
  font-weight: bold;
}

.Button{
  background-color: olivedrab;
  color: lavenderblush;
  padding: 16px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.Button:hover{
  background-color: lightgreen;
}

.Button.Red{
  background-color: darkred;
  color: #000;
}

.Button.Red:hover{
  background-color: salmon;
}